$button-background: #ece9fd;

.form-section { 
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background-purple.jpg);
    background-position: center;
    color: #fff;
    padding: 0 2em;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.form-section > h1 {
    margin: 0 0 0.5em 0;
}

.busy-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.busy-form > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

.busy-form--input {
    font-family: inherit;
    padding: 0.5em 2em;
    font-size: 1.2rem;
    border-radius: 30px;
    text-align: center;
}

.busy-form button,
.busy-form--deadline--btn {
    color: #000;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: $button-background;
    transition: 0.2s;
    text-transform: uppercase;
}

.busy-form button {
    padding: 0.5em 4em;
    font-family: inherit;
    cursor: pointer;
    border: none;
    margin-right: 1em;
    
}

.busy-form--deadline--btn {
    text-decoration: none;
    padding: 0.5em 2em;
}

.timetable {
    text-align: center;
}

.timetable-content {
    padding-bottom: 5em;
}

.timetable-content--times {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(213, 223, 255, 0.7);
    margin: 1em 0;
}

.busy-form button:hover,
.busy-form--deadline--btn:hover {
    background-color: #ab9cff;
}